view, div {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.text-title {}

//Typography
.headline-1 {
  font-size: 192+rpx;
  font-weight: 300;
}
.headline-2 {
  font-size: 120+rpx;
  font-weight: 300;
}
.headline-3 {
  font-size: 96+rpx;
  font-weight: 400;
}
.headline-4 {
  font-size: 68+rpx;
  font-weight: 400;
}
.headline-5 {
  font-size: 48+rpx;
  font-weight: 400;
}
.headline-6 {
  font-size: 40+rpx;
  font-weight: 500;
}
.subtitle-1 {
  font-size: 32+rpx;
  font-weight: 400;
}
.subtitle-2 {
  font-size: 28+rpx;
  font-weight: 500;
}
.body-text-1 {
  font-size: 32+rpx;
  font-weight: 400;
}
.body-text-2 {
  font-size: 28+rpx;
  font-weight: 400;
}
.button {
  font-size: 28+rpx;
  font-weight: 500;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}
.flex-c {
  display: flex;
  flex-direction: column;
}
.align-center {
  align-items: center;
}
